* {
    font-family: 'Calibri'!important;
}

body {
    line-height: 1.2;
}

container {
    background-color: antiquewhite;
}

.page-header {
    margin: 20px 0px;
    background-color: antiquewhite;
    border-radius: 5px;
    padding: 50px 10px 20px 10px;
}

#logo {
    font-weight: bold;
    font-size: 60px;
}

h1 {
    margin-bottom: 0px;
}

h1 a span {
	color: black;
}

h1 a:hover {
	text-decoration: none;
}

.btn-group, .btn-group-vertical {
    width: 100%;
}

.btn {
    font-size: 0.8rem!important;
    background-color: #343a40;
    color: white;
}

table {
    width: 100%;
    border: 1px dotted darkgrey;
}

th, td {
    font-size: 14px;
    padding: 0px 2px 0px 5px;
    white-space: normal;
    word-wrap: break-word;
    width: 50px;
}

th {
    border: 1px dotted darkgrey;
    width: 50px;
}

td {
    border-left: 1px dotted darkgrey;
    border-right: 1px dotted darkgrey;
    width: 50px;
}

.form-reports-input {
    margin-top: 10px;
}

.invalid-feedback {
    color: red;
    font-size: 10px;
}

.output-message {
    font-size: 18px;
}

.refName {
    color: firebrick;
    font-style: italic;
}

.systems-select-active {
    border: 2px solid firebrick!important;
    background-color: antiquewhite!important;
}

.edit-button-holder {
	text-align: right;
}

.edit-system {
	padding: 5px!important;
}


#autocomplete {
    position: absolute;
    background-color: white;
    transform: translate(50px, -5px);
    margin: 0px;
    max-height: 50vh;
    width: calc(65% - 90px);
    box-shadow: 2px 3px 5px #888888;
    z-index: 1;
}

#autocomplete lh {
    font-size: 14px;
    font-style: italic;
    margin: 2px 5px;
}

.autocomplete-list-items {
    list-style-type: none;
    font-size: 14px;
    margin: 2px 5px;
    cursor: pointer;
}

.autocomplete-list-items:hover {
    background-color: grey;
    color: white;
}

.active, .btn:hover {
    background-color: white;
    color: #343a40;
}

.table-holder {
    display: inline-block;
}

.top-buffer {
    margin-top:30px;
}

#list-heading {
    background-color: #343a40;
    color: white;
}

#btnShort, #btnDetailed {
    background-color: firebrick;
    color: white;
}

#btnShort:hover, #btnDetailed:hover {
	background-color: white;
	color: black;
}

.button-holder {
	margin-top: 15px;
}

#upd {
	background-color: firebrick;
}

#upd:hover {
	background-color: white;
	color: black;
	border: 1px solid antiquewhite;
}

.user-guide {
	display: none;
}

.user-guide img {
	width: 100%;
	box-shadow: 5px 5px 20px 5px grey;
	margin: 25px 0px;
}

.about p, .user-guide p {
	font-size: 16px;
}

.about h3, .user-guide h3 {
	font-size: 32px;
	margin-top: 25px;
}

#return-to-top {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background: rgba(100, 100, 100, 0.5);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    transition: all 0.3s ease;
    transform: rotate(270deg);
}

#return-to-top span {
    color: #fff;
    margin: 0;
    position: relative;
    left: 17px;
    top: 8px;
    font-size: 16px;
    transition: all 0.3s ease;
}

#return-to-top:hover {
    background: rgba(250, 235, 215, 1);
}

#return-to-top:hover span {
    color: #fff;
}

#source-width {
	width: 50px;
}

.user-guide-img {
	width: 75%;
}
