* {
    box-sizing: border-box;
    font-family: "Calibri";
    transition: all 0.5s ease;
    border-collapse: collapse;
}

p {
    font-size: 16px;
}

img {
	border-radius: 10px;
}

.container {
    margin: auto;
}

.form-container {
	max-width: 75%;
    min-height: 95vh;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid grey;
    border-radius: 10px;
    background-color: antiquewhite;
    padding: 20px;
}

.form-group {
	margin: 10px;
    text-align: left;
}

select {
    width: 100%;
    padding: 5px;
    margin: 5px 0;
    border-radius: 5px;
}

input {
    width: 100%;
    padding: 5px;
    margin: 5px 0;
    border-radius: 5px;
}

.xrefbutton {
    margin-top: 5px;
    height: 35px;
    width: 80px;
    border-radius: 5px;
    background-color: #222;
    color: antiquewhite;
}

.xrefbutton:hover {
    background-color: black;
    font-weight: bold;
    cursor: pointer;
}

.form-container-buttons {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.buttons {
	align-self: flex-start;
}

.invalid-feedback {
    color: red;
    font-size: 10px;
}

.outputMessage {
    font-style: italic;
    font-size: 0.7em;
}

table {
    border: 1px solid black;
    width: 100%;
}

.table-holder {
	min-width: 600px;
}

td, th {
    padding: 2px 5px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    font-size: 16px;
}

th {
    font-weight: bold;
    border-bottom: 1px solid black;
}

.infoField {
	background-color: antiquewhite;
	color: black;
	cursor: pointer;
	border: none;
	padding: 0px;
	margin: 0px;
}

.right {
    text-align: right;
}

.refName {
	font-style: italic;
	color: firebrick;
}

input[list[option]] {
	background-color: pink;
	max-height: 50vh;
	y-overflow: auto;
}


#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    /* background: rgb(255, 218, 185); */
    background: rgba(100, 100, 100, 0.5);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(250, 235, 215, 1);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}
