* {
    box-sizing: border-box;
    font-family: "Calibri";
    transition: all 0.5s ease;
    border-collapse: collapse;
}

.container {
    max-width: 75%;
    min-width: 600px;
    margin: 20px auto;
}

.form-container {
    min-height: 95vh;
    top: 50%;
    right: 50%;
    border: 1px solid grey;
    border-radius: 10px;
    background-color: antiquewhite;
    padding: 20px;
}

.form-group {
    margin: 0 auto;
    text-align: left;
}

select {
    width: 100%;
    padding: 5px;
    margin: 5px 0;
    border-radius: 5px;
}

input {
    width: 100%;
    padding: 5px;
    margin: 5px 0;
    border-radius: 5px;
}

#xrefFormButton {
    margin: 20px auto;
    height: 35px;
    width: 80px;
    border-radius: 5px;
    background-color: #222;
    color: antiquewhite;
}

#xrefFormButton:hover {
    background-color: black;
    font-weight: bold;
    cursor: pointer;
}

.invalid-feedback {
    color: red;
}

.outputMessage {
    font-style: italic;
    font-size: 0.7em;
}

table {
    border: 1px solid black;
}

td, th {
	padding: 5px 10px;
	border-left: 1px solid black;
	border-right: 1px solid black;
}

th {
	font-weight: bold;
}

.right {
	text-align: right;
}
